{% if start is defined %}
	{% set pageNumber = global.request.get("pageNumber") %}

	{% if pageNumber == '' %}
		{% set pageNumber = 1 %}
	{% endif %}

	{% if pageNumber != 1 %}
		<a href='{{ url('viewGenderPage', {Q: countryQ, gender: gender, pageNumber: pageNumber - 1}) }}'>&lt;&lt;</a>
	{% endif %}
	{{ start ~ " - " ~ end }}

	<a href='{{ url('viewGenderPage', {Q: countryQ, gender: gender, pageNumber: pageNumber + 1}) }}'>&gt;&gt;</a>
{% endif %}