{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Book for download</h1>
	{% if lastBook %}
	{% else %}
		<p>No ebook available</p>
	{% endif %}
    <h1>Content available</h1>
    <ul>
    	{% for lesson in lessons %}
    		<li>{{ lesson.filename }} - {{lesson.title }}</li>
		{% endfor %}
    </ul>
    <h1>Internal tools</h1>
    <ul>
    	<li><a href='{{url('generate')}}'>Generate</a></li>
    </ul>
{% endblock %}