{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Book for download</h1>
	{% if lastBook %}
	{% else %}
		<p>No ebook available</p>
	{% endif %}
    <h1>Content available</h1>
    <table class='table'>
            <tr>
                <th>Filename</th>
                <th>Title</th>
                <th>Download</th>
            </tr>
    	{% for lesson in lessons %}
    		<tr>
                <td>{{ lesson.filename }}</td>
                <td>{{lesson.title }}</td>
                <td><a href='{{url("generate", {lessonCode: lesson.lessonSlug})}}'>Epub</a></td>
            </li>
		{% endfor %}
    </table>
    <h1>Internal tools</h1>
    <ul>
    	<li><a href='{{url('generate')}}'>Generate</a></li>
    </ul>
{% endblock %}